.App {
  text-align: center;
}
*{
  margin:0;
  color: '#fff' !important;
  text-decoration: none;
}
body{
  margin:0px !important;
  padding: 0px !important;
  color: '#fff' !important;
  width: 100vw;
  height: 100vh;  overflow: hidden;
}
#root {
  margin: 0;
  padding: 0;
  color: '#fff' !important;
  width: 100vw;
  height: 100vh;  overflow-y: hidden;
}